[Unit]
Description=Persistent Nix store
DefaultDependencies=no
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service
Before=basic.target umount.target
Conflicts=umount.target
RequiresMountsFor=/var/nix

[Mount]
What=/var/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=basic.target
